aside {
    padding: 0 40px 10px 40px;
    position: sticky;
    top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    background-color: white;

    .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        p {
            margin-bottom: 0;
        }
    }
    .addProduct {
        order: 2;
    }
}
