aside {
    padding: 0 40px 10px 40px;
    position: sticky;
    top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    background-color: white;

    .filter {
        margin-left: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        p {
            margin-bottom: 0;
        }
    }
}
