.flex {
    display: flex;
}
.cont-header {
    width: 100%;
    background-color: rgba($color: white, $alpha: 0.9);
    justify-content: center;

    .finder {
        margin-top: 12px;
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 1.2em;

        #search {
            width: 84px;
            transition: 0.8s;

            &:focus {
                width: 300px;
            }
        }

        > * {
            height: fit-content;
            width: 360px;
            padding: 2px 12px 2px 12px;
            border-radius: 8px;
        }
    }
}
.ul-nav {
    list-style: none;
}
.li-nav {
    height: 64px;
    padding: 16px;
    margin: 0 20px;
    display: inline-block;
    position: relative;
    color: #9755ba;
    font-size: 1.2em;
    font-weight: 400;

    &:after {
        content: "";
        position: absolute;
        width: 80%;
        transform: scaleX(0);
        height: 2px;
        bottom: 6px;
        left: 10%;
        background-color: #9755ba;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    &:hover {
        .a-nav {
            color: #9755ba;
        }
    }
    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
.a-nav {
    color: #777;
    text-decoration: none;
}
.modal-content {
    z-index: 999;
}
header {
    position: fixed;
    top: 0;
    height: 64px;
    z-index: 1;
    background-color: white;
}
