.flex {
    display: flex;
}
.cont-header {
    justify-content: end;
    width: 100%;
}
.finder {
    margin-top: 8px;

    > * {
        height: fit-content;
        width: 360px;
        border-radius: 12px;
    }
}
.nav {
    justify-content: end;
}
.ul-nav {
    list-style: none;
}
.li-nav {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    position: relative;
    color: #9755ba;

    &:after {
        content: "";
        position: absolute;
        width: 80%;
        transform: scaleX(0);
        height: 2px;
        bottom: 6px;
        left: 10%;
        background-color: #9755ba;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
.a-nav {
    color: #777;
    text-decoration: none;

    &:hover {
        color: #9755ba;
    }
}
.modal-content {
    z-index: 999;
}
header {
    position: fixed;
    top: 0;
    height: 48px;
    z-index: 1;
    background-color: white;
}
