@import "utilities.scss";

.parallax {
    /* Create the parallax scrolling effect */
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65;

    &.first {
        /* The image used */
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("/resources/images/background2.jpg");

        /* Set a specific height */
        min-height: 100%;
    }
    &.second {
        /* The image used */
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("/resources/images/background1.jpg");

        /* Set a specific height */
        min-height: 420px;
    }
    &.third {
        /* The image used */
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("/resources/images/background4.jpg");

        /* Set a specific height */
        min-height: 420px;
    }

    .mainTitle {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;

        &:hover {
            opacity: 1;
        }
        a {
            text-decoration: none;
            span {
                background-color: rgba(0, 0, 0, 0.5);
                color: #f7f7f7;
                border-radius: 20px;
                padding: 20px 0 20px 12px;
                padding-right: 0px;
                font-size: 25px;
                letter-spacing: 12px;

                &:hover {
                    background-color: var(--bs-purple);
                }
            }
        }
    }
    > a {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 18px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        transition: transform 0.5s;

        &:hover {
            transform: scale(2, 2);
        }

        .fa-arrow-down {
            color: #f7f7f7;
            font-size: 24px;
        }
    }
}

.text {
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > * {
        width: 70%;
        text-align: center;
    }
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;

    form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        > * {
            width: 320px;
        }
        input {
            height: 40px;
        }
        input:not([type="submit"]) {
            margin-bottom: 20px;
        }
        input[type="submit"] {
            margin-top: 20px;
        }
    }
    p {
        text-align: center;
        font-weight: 700;

        &.loginMsg-error {
            color: #e04444;
        }
        &.loginMsg-success {
            color: #45b239;
        }
    }
}
