@import "utilities.scss";

.modal {
    .modal-body {
        display: flex;
        flex-direction: column;
    }
}
main {
    min-height: calc(100vh - 216px);
    margin: 88px 40px 0 40px;

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;

        .card {
            overflow: hidden;

            .card-img-top {
                overflow: hidden;

                img {
                    object-fit: cover;
                    height: 360px;
                    width: 100%;
                    transition: transform 0.3s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .card-price {
                position: relative;
                .icon {
                    position: absolute;
                    top: 2px;
                    right: 0px;
                }
            }
        }
    }
}
